<div class="card">

<h2>Dados pessoais</h2>

<div class="grid">

    <div>

        <label>Nome</label>

        <input
            type="text"
            name="nome">

    </div>

    <div>

        <label>Email</label>

        <input
            type="email"
            name="email">

    </div>

    <div>

        <label>Telefone</label>

        <input
            type="text"
            name="telefone">

    </div>

    <div>

        <label>Cidade</label>

        <input
            type="text"
            name="cidade">

    </div>

</div>

</div>