<div class = "card">

<h2>Experiências</h2>

<div id="experiencias">

    <div class="experiencia-item">

        <input type="text" name="cargo[]" placeholder="Cargo">
        <input type="text" name="empresa[]" placeholder="Empresa">
        <input type="text" name="periodo[]" placeholder="Período">
        <textarea name="descricao[]" placeholder="Descrição"></textarea>

        <button type="button" onclick="adicionar('experiencia', 'experiencias')">
            + Adicionar experiência
        </button>

    </div>

    

</div>
</div>

