<!DOCTYPE html>
<html>
<head>
    <title>Currículo Fácil</title>
</head>
<body>
    <script src="/static/js/formulario.js"></script>

<h1>Currículo Fácil</h1>

<form action="/gerar" method="POST" enctype="multipart/form-data">

    <label>Nome:</label>
    <br>
    <input type="text" name="nome" required>
    <br><br>

    <label>Email:</label>
    <br>
    <input type="email" name="email" required>
    <br><br>

    <label>Telefone:</label>
    <br>
    <input type="text" name="telefone" required>
    <br><br>

    <label>Cidade:</label>
    <br>
    <input type="text" name="cidade">
    <br><br>

    
    <label>Foto</label>

    <input
        type="file"
        name="foto"
        accept="image/*">



    <label>Resumo profissional:</label>
    <br>
    <textarea name="resumo"></textarea>
    <br><br>

    <h2>Experiências</h2>

    <div id="experiencias">

        <div class="experiencia">

            <input
                type="text"
                name="cargo[]"
                placeholder="Cargo">

            <input
                type="text"
                name="empresa[]"
                placeholder="Empresa">

            <input
                type="text"
                name="periodo[]"
                placeholder="Período">

            <textarea
                name="descricao[]"
                placeholder="Descrição">
            </textarea>

        </div>

    </div>

    <button
        type="button"
        onclick="adicionarExperiencia()">

        + Adicionar experiência

    </button>

    <h2>Formação</h2>

    <div id="formacoes">

        <div class="formacao">

            <input type="text" name="curso[]" placeholder="Curso">

            <input type="text" name="instituicao[]" placeholder="Instituição">

        </div>

    </div>

    <button type="button" onclick="adicionarFormacao()">
        + Adicionar formação
    </button>

    <h2>Certificações</h2>

    <div id="certificacoes">

        <div class="certificacao">

            <input type="text" name="certificacao[]" placeholder="Certificação">

        </div>

    </div>

    <button type="button" onclick="adicionarCertificacao()">
        + Adicionar certificação
    </button>

    <p>
    Uma certificação por linha.
    </p>

    <h2>Habilidades</h2>

    <div id="habilidades">

        <div class="habilidade">

            <input type="text" name="habilidade[]" placeholder="Habilidade">

        </div>

    </div>

    <button type="button" onclick="adicionarHabilidade()">
        + Adicionar habilidade
    </button>

    <label>LinkedIn</label>
    <input
        type="text"
        name="linkedin"
        placeholder="linkedin.com/in/seu-perfil">

    <label>GitHub</label>
    <input
        type="text"
        name="github"
        placeholder="github.com/seu-usuario">

    <h2>Idiomas</h2>

    <div id="idiomas">

        <div class="idioma">

            <input type="text" name="idioma[]" placeholder="Idioma">

        </div>

    </div>

    <button type="button" onclick="adicionarIdioma()">
        + Adicionar idioma
    </button>

    <label for="modelo">
        Modelo do currículo
    </label>

<select name="modelo" id="modelo">

    <option value="moderno">
        Moderno
    </option>

    <option value="executivo">
        Executivo
    </option>

    <option value="minimalista">
        Minimalista
    </option>

    <option value="duas_colunas">
        Duas Colunas
    </option>

</select>

    <button type="submit">
        Gerar currículo
    </button>

</form>

</body>
</html>