<!DOCTYPE html>
<html>

<head>

    <title>Currículo Fácil</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <h1>
        Currículo Fácil
    </h1>

    <form
        action="/gerar"
        method="POST"
        enctype="multipart/form-data">

        {% include 'componentes/dados_pessoais.html' %}
        {% include 'componentes/foto.html' %}
        {% include 'componentes/resumo.html' %}
        {% include 'componentes/experiencias.html' %}
        {% include 'componentes/formacoes.html' %}
        {% include 'componentes/certificacoes.html' %}
        {% include 'componentes/habilidades.html' %}
        {% include 'componentes/redes_sociais.html' %}
        {% include 'componentes/idiomas.html' %}
        {% include 'componentes/modelos.html' %}

        <button type="submit">
            Gerar currículo
        </button>

    </form>

</div>

</body>

<script src="{{ url_for('static', filename='js/templates.js') }}"></script>
<script src="{{ url_for('static', filename='js/formulario.js') }}"></script>
</html>